{#
/**
* @file
* Template for quicktabs.
*/
#}

{{ attach_library('quicktabs/quicktabs') }}

<div class="quicktabs-wrapper" id="quicktabs-{{ quicktab_id }}">
  <div class="item-list">
    <ul class="quicktabs-tabs">
      {% for row in rows %}
        <li><a href="{{ row.tab_link }}">{{ row.tab_title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div="quicktabs-main" id="quicktabs-container-{{ quicktab_id }}">
  {% for key, row in rows %}
    <div id="quicktabs-tabpage-{{ quicktab_id }}-{{ key }}" class="quicktabs-tabpage{{ (key > 0) ? ' quicktabs-hide' : '' }}">
      {{ row.content }}
    </div>
  {% endfor %}
  </ul>
</div>
