{#
/**
* @file
* Template for quicktabs view.
*/
#}

{{ attach_library('quicktabs/quicktabs') }}

{% set last_index = total_rows - 1 %}

{% if page_prefix %}
  <div class="quicktabs-main" id="quicktabs-container-{{ quicktab_id }}">
{% endif %}
{% if set_prefix %}
  <div class="{{ set_prefix.classes }}" id="{{ set_prefix.id }}">
{% endif %}
{% for key, row in rows %}
    {{ row }}
{% endfor %}
{% if set_prefix %}
  </div>
{% endif %}
{% if key == last_index %}
  </div>
{% endif %}
